<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <div id="mapid"></div>
  <!--button (click)="onClickMapMenuInfo($event)" data-widget="control-sidebar" data-slide="true" class="btn btn-info map-menu-info " role="button" aria-label="Map menu"><i class="fas fa-bars"></i></button-->
  <button (click)="onClickMapMenu($event)" data-widget="control-sidebar" data-slide="true" class="btn btn-secondary map-menu" role="button" aria-label="Map menu"><i class="fa fa-bars"></i></button>
</div>
<aside class="control-sidebar control-sidebar-dark">
  <!-- Container INFO -->
  <div *ngIf="sideBar == 'info'" class="p-3 control-sidebar-content">
    <div class="form-group">
      <div class="custom-control custom-switch">
        <input (change)="onChangeGeoloc($event)" type="checkbox" class="custom-control-input" id="switchLoc">
        <label class="custom-control-label" for="switchLoc">Geolocalizzazione</label>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Lat: {{posCurrent.lat}}</p>
        <p>Lng: {{posCurrent.lng}}</p>
        <p>Ora: {{posLastTime | date:'HH:mm:ss'}}</p>
        <!--        <form>
                          <div class="form-group-sm mb-1">
                      <label for="map_regione">Regione</label>
                      <select id="map_regione" class=" form-control form-control-sm"></select>
                    </div>
                <div class="form-group-sm mb-1">
                  <label for="map_provincia">Provincia</label>
                  <select id="map_province" class=" form-control form-control-sm"></select>
                </div>
                          <div class="form-group-sm mb-1">
                      <label for="map_comuni">Comune</label>
                      <select id="map_comuni" class=" form-control form-control-sm"></select>
                    </div>
                <label for="map_provincia">Comune</label>
              <div class="input-group input-group-sm">
                <input id="bookSearchInput" #bookSearchInput type="search" class="form-control form-control-sm" placeholder="Comune" value="">
                <div class="input-group-append">
                  <button title="Reset" type="button" class="btn btn-sm btn-secondary">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
              </form>-->
      </div>
    </div>
  </div>
  <!-- Container SETTINGS -->
  <div *ngIf="sideBar == 'settings'" class="p-3 control-sidebar-content">
    <div class="row">
      <div class="col-12">
          <p>Settings</p>
      </div>
    </div>
  </div>
</aside>
<!-- /.content-wrapper -->
