#mapid {
  min-height: 100vh;
  width: 100%;
}

.map-menu{
  bottom: 4.25rem;
  position: fixed;
  right: 1.25rem;
  z-index: 1032;
  border-radius: 40px;
}

.map-menu-info {
  bottom: 7.15rem;
  position: fixed;
  right: 1.25rem;
  z-index: 1032;
  border-radius: 40px;
  transition: 5s;
}

.map-menu-settings {
  bottom: 7.25rem;
  position: fixed;
  right: 1.25rem;
  z-index: 1032;
  border-radius: 40px;
}

#sel_map_provincia {
  height: 38px!important;
}

#divCross {
  z-index: 2000;
  color: red;
  padding: 0;
  margin-top: -0.6rem;
  margin-left: -0.76rem;
}

#geoLocSecondsRange, #inpTrackingRange {
  width: 9.5rem !important;
}

.collapseInfo {
  display: block;
  background-color: cadetblue;
  width: 100%;
  position: absolute;
  z-index: 401;
  opacity: 0.8;
  transition: height 1s ease, box-shadow 1s ease;
  height: 0rem !important;
  overflow: hidden;
  bottom: 0rem;
}

  .collapseInfo.in {
    height: 20rem !important;
  }

