  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <header id="home">
      <div class="overlay">
        <div class="home-block">
          <div class="intro">
            <div class="intro-sub">Tiberio Iordache</div>
            <h1>Software <span>Developer</span></h1>
            <p>Studio i linguaggi di programmazione e lo sviluppo in generale da diversi anni <br /> progetto e sviluppo soluzioni e applicazioni con le più disparate tecnologie del web <br /> in maniera efficace, efficiente e veloce.</p>
          </div>
        </div>
        <div class="mouse-icon">
          <div class="wheel"></div>
        </div>
      </div>
    </header>

    <!--<section class="content pt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <ul class=" list-group-bordered mb-3 pt-2">
              <li class="list-group-item">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle" src="/assets/img/unnamed.jpg" alt="profile-picture">
                </div>
              </li>
              <li class="list-group-item">
                <b>Nome e Cognome:</b><span class="float-right">Tiberiu Iordache</span>
              </li>
              <li class="list-group-item">
                <b>Data di Nascita:</b> <span class="float-right">28/09/1992</span>
              </li>
              <li class="list-group-item">
                <b>Indirizzo:</b> <span class="float-right">Via... </span>
              </li>
              <li class="list-group-item">
                <b>Città:</b> <span class="float-right">Guidona in provincia di ROMA</span>
              </li>
              <li class="list-group-item">
                <b>Telefono:</b> <span class="float-right">3483136953</span>
              </li>
              <li class="list-group-item">
                <b>Email:</b> <span class="float-right">t.iordache@outlook.it</span>
              </li>
            </ul>
          </div>-->
    <!-- /.col -->
    <!--<div class="col-md-7">
      <h2 class="text-center">Cosa cerco?</h2>
      <p>L'opportunità per collaborare e crescere all'interno di un'organizzazione che fonda i propri principi sulla condivisione a vantaggio reciproco in un’ottica di medio-lungo periodo.</p>
      <h2 class="text-center pt-3">Cosa faccio?</h2>
      <p>
        Analizzo e interpreto la domanda del cliente, raccolgo le indicazioni e le necessità esplicite e latenti.<br /> Valuto la fattibilità economica e tecnologica, elaboro e formalizzo proposte alternative.
        <br />
        Progetto gli Applicativi del Sistema Informativo disegnando i processi di esecuzione e controllo dell’infrastruttura informatica, garantendo coerenza e completezza e formalizzo i dettagli dei moduli software.
        <br />
        Sviluppo e programmo gli Applicativi del Sistema Informativo traducendo e scrivendo in codice di programmazione quanto riportato nel progetto.
        <br />
        Definisco le procedure per la gestione e la manutenzione degli Applicativi del sistema.
        <br />
        Convalido gli Applicativi del Sistema Informativo analizzando e interpretando i dati ottenuti dal monitoraggio/test al fine di evidenziare eventuali problematicità e valuto la necessità di apportare delle modifiche
        <br />
        Collaudo gli applicativi del Sistema Informativo e predispongo il manuale d’uso controllo l’integrazione dei vari componenti garantendo il corretto funzionamento del sistema complessivo
      </p>
      <p></p>
    </div>-->
    <!-- /.col -->
    <!--</div>-->
    <!-- /.row -->
    <!--</div>--><!-- /.container-fluid -->
    <!--</section>-->
    <!-- /.content -->
  </div>
